.nonogram-container {
    display: grid;
    /* float: left; */
    margin: auto;
    align-items: center;
    justify-content: center;
}

.nonogram-board {
    gap: 0px; 
    padding: 0px;
    margin: 0px;
    font-size: 0px;
}

.square {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #000000;
    padding: 0px;
    margin: 0px;
}

.empty {
    background-color: #ffffff;
}

.grid-row-rules {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.grid-col-rules {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.grid-board {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.row-rules-container {
    font-size: 0px;
    width: fit-content;
}

.col-rules-container {
    font-size: 0px;
    height: fit-content;
    display: flex;
    align-items: stretch;
}

.row-rect {
    height: 15px;
    display: block;
    border: 1px solid #000000;
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    text-align: right;
}

.col-rect {
    text-align: center;
    flex: 1;
    border: 1px solid #000000;
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    display: flex;
    justify_content: center;
    flex-direction: column;
}
